@font-face {
  font-family: '975Maru';
  src: url('/res/font/975MaruSC-Regular.ttf');
}

:root {
  font-size: (100% / 120);
}

pre,
code {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 8px;
  background-color: #000000;
  padding: 0 .25em;
}

body {
  font-family: '975Maru';
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 2rem);
  width: 100%;
  background-image: url('/res/img/117838045_p0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: .5rem 0;
  margin: 0;
}

a:hover,
a:focus,
a:active {
  text-shadow: 0 0 1rem #add8e6;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #add8e6;
  text-decoration: none;
}

hr {
  box-shadow: 0 0 1rem #add8e6;
  /* border: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #add8e6;
  color: #00000000;
}

.linklist {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#body {
  width: 87%;
  /* width: 100%; */
  min-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  color: white;
  border-collapse: collapse;
  background-color: #1f1e33aa;
  backdrop-filter: blur(16px);
  border-radius: 1rem;
}

#body tr td {
  /* background-color: #1f1e33aa; */
  /* backdrop-filter: blur(16px); */
  border-radius: 6px;
  padding: 1rem;
}

#nav {
  width: 24%;
  vertical-align: top;
  /* border-right: #add8e6 solid 1px;
  border-top: #add8e6 solid 1px; */
  border-right: #1f1e33 solid 2px;
  border-top: #1f1e33 solid 2px;
}

#main {
  vertical-align: top;
  border-top: #1f1e33 solid 2px;
}

#footer {
  border-top: #1f1e33 solid 2px;
  text-align: center;
  font-size: smaller;
  vertical-align: middle;
  text-align: center;
}